*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: Arial, sans-serif;
        color: #333;
}
section{
    margin: 20px;
}
h1{
    font-family: 'Helvetica Neue', sans-serif;
    color: #9f1111;
    font-size: 24px;
    padding: 10px 0;
   text-decoration: dotted;
    margin: 20px 0;
}
p{
    color: #070587;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}
header{
    background-color: #f4f4f4;
    padding: 20px 0;}
section{
    padding: 20px;
    background-color: #6e6b6b;
}
div{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}
button{
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}