*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #333;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}
p{
    color: #666;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}
header{
    background-color: #f4f4f4;
    padding: 20px 0;
}